.App {
  text-align: center;
}

.container
{
    position: absolute;
    background:url("mark.jpg");
    background-size: 128%;
    background-position:left;
    font-size: 20px;
    width: 300px;
    height:310px;
    padding: 10px 10px;
    border : 2px solid white;
    box-shadow: 6px 6px black;
    border-radius: 2em;
    text-align: center;
    background-position: center;
    display: flexbox;
    left: 380px;    
    top:220px;
}

.container2
{
    position: absolute;
    background:url("Chess.png");
    background-position: center;
    background-size:100%;
    font-size: 20px;
    width: 300px;
    height:310px;
    padding: 10px 10px;
    border : 2px solid white;
    box-shadow: 6px 6px black;
    border-radius: 2em;
    text-align: center;
    background-position: center;
    display: flexbox;
    left: 880px;    
    top:220px;
}