*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:honeydew;
}
.container
{
display: inline-block;
width: 25%;
padding: 0;
list-style: none;
}
.header
{
  font-family: 'Courier New', Courier, monospace;
  color:black;
  font-size: 50px;
}

.text
{
  font-family: 'Courier New', Courier, monospace;
  color: tomato;
  font-size: 50px;
}
.card
{
    display:inline-block;
    width: 100%;
    align-content: center;
    
}
.card img:hover
{
  opacity: 0.8;
  cursor: pointer;
}
.card img
{
  width: 260px;
  height:410px;
  padding: 10px 10px;
  border : 2px solid white;
  box-shadow: 6px 6px black;
  border-radius: 2em;
}
.card .title
{
  font-size: 1.2rem;
  font-weight: bold;
}

.btn
{
  position: relative;
  left: -170px;
  top:-40px;
  padding: 10px 10px;
  border : 2px solid white;
  box-shadow: 2px 2px black;
  border-radius: 2em;
  cursor: pointer;
}
.btn:hover
{
  opacity: 0.8;
  background-color: blueviolet;
}